.stat {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 32px;
	margin-bottom: 80px;

	&Info {
		width: 50%;

		@media (max-width: 640px) {
			width: 100%;
			text-align: center;
		}
	}

	@media (max-width: 768px) {
		gap: 24px;
		margin-bottom: 56px;
	}

	@media (max-width: 640px) {
		flex-direction: column-reverse;
	}
}

.title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 600;
	margin-bottom: 18px;

	@media (max-width: 768px) {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 15px;
	}
}

.text {
	line-height: 28px;
	color: var(--color-text-secondary);

	div:first-child {
		margin-bottom: 20px;
	}
}

.images {
	width: 50%;
	position: relative;

	img {
		width: 100%;
	}

	img:last-child {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	@media (max-width: 640px) {
		width: 100%;
	}
}