.reviewItem {
	padding: 22px;
	box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
	width: 341px;
	height: 316px;
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		box-shadow: 0 15px 24px 0 rgba(0, 0, 0, 0.1);
	}

	.itemHeader {
		display: flex;
	}

	.photo {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		margin-right: 16px;
	}

	.itemInfo {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.fullName {
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		text-align: left;
		margin-bottom: 4px;
	}

	.city {
		font-size: 12px;
		line-height: 16px;
		color: var(--color-text-secondary);
		margin-bottom: 20px;
	}

	.text {
		font-size: 14px;
		line-height: 24px;
		text-align: left;
	}

	@media (max-width: 768px) {
		width: 331px;
	}

	@media (max-width: 375px) {
		width: 300px;
		height: 336px;
	}

	@media (max-width: 320px) {
		width: 258px;
		height: auto;
	}
}