.headerContent {
	padding-top: 233px;
	text-align: center;
	padding-bottom: 313px;

	@media (max-width: 768px) {
		padding-top: 317px;
		padding-bottom: 398px;
	}

	@media (max-width: 375px) {
		padding-top: 92px;
		padding-bottom: 172px;
	}

	@media (max-width: 320px) {
		padding-top: 48px;
		padding-bottom: 129px;
	}
}

.title {
	font-size: 52px;
	line-height: 64px;
	font-weight: 600;
	margin-bottom: 18px;

	@media (max-width: 768px) {
		max-width: 476px;
		margin: 0 auto 17px;
		font-size: 32px;
		line-height: 40px;
	}

	@media (max-width: 375px) {
		max-width: 288px;
		font-size: 24px;
		line-height: 32px;
		margin: 0 auto 10px;
	}
}

.subtitle {
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 92px;

	@media (max-width: 768px) {
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 40px;
	}

	@media (max-width: 375px) {
		max-width: 288px;
		margin: 0 auto 26px;
		font-size: 16px;
		line-height: 28px;
	}
}

.btn {
	padding: 20px 40px;
	color: var(--color-text);
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	background-color: rgb(236, 239, 242);
	border-radius: 4px;
	border: 1px solid rgb(236, 239, 242);
	transition: background-color .2s linear, border-color .2s linear;

	&:hover {
		background-color: rgb(255, 255, 255);
		border-color: rgb(194, 200, 205);;
	}
}